/*Import DM Sans, Heebo, and Alkatra fonts.*/
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=DM+Sans&family=Heebo&display=swap");

body {
  margin: 0;
}

:root {
  --logo-font: "Alkatra", cursive;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.header .logo {
  font-family: var(--logo-font);
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding-left: 0px;
}

nav > ul > li {
  padding: 10px;
  cursor: default;
}

.sliding-images-banner {
  display: flex;
  position: relative;
}

.sliding-images-banner img {
  width: 100vw;
}

.sliding-images-banner .nav-buttons {
  position: absolute;
  top: calc(100% - 25px);
  left: 50%;
  transform: translateX(-50%);
}

.select-image-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.nav-buttons .arrow {
  width: 1rem;
  height: 1rem;
}
