/*Import DM Sans, Heebo, and Alkatra fonts.*/
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=DM+Sans&family=Heebo&display=swap");

body {
  margin: 0;
}

:root {
  --logo-font: "Alkatra", cursive;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.header .logo {
  font-family: var(--logo-font);
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding-left: 0px;
}

nav > ul > li {
  padding: 10px;
  cursor: default;
}
