/*Import DM Sans, Heebo, and Alkatra fonts.*/
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=DM+Sans&family=Heebo&display=swap");

body {
  margin: 0;
}

:root {
  --logo-font: "Alkatra", cursive;
  --clickedButtonShadow: inset 0px 0px 3px grey;
  --currentPicturePosition: 0;
  --newPicturePosition: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

.header .logo {
  font-family: var(--logo-font);
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding-left: 0px;
}

nav > ul > li {
  padding: 10px;
  cursor: default;
}

.banner-wrapper {
  position: relative;
  height: 635px;
  width: 100vw;
}

.sliding-images-banner {
  display: flex;
  position: absolute;
  left: var(--newPicturePosition);
}

.sliding-images-banner.active {
  animation: moveBanner 1000ms ease-in-out 0s 1 normal forwards;
}

@keyframes moveBanner {
  from {
    left: var(--currentPicturePosition);
  }
  to {
    left: var(--newPicturePosition);
  }
}

.sliding-images-banner img {
  width: 100vw;
}

.banner-wrapper .nav-buttons {
  position: absolute;
  top: calc(100% - 25px);
  left: 50vw;
  transform: translateX(-50%);
}

.select-image-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}

.select-image-circle:active {
  box-shadow: var(--clickedButtonShadow);
}

.nav-buttons .arrow {
  width: 1rem;
  height: 1rem;
}
