body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

nav > ul {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  padding-left: 0px;
}

nav > ul > li {
  padding: 10px;
}
